// HEADER::START
header.header.header--absolute
  .container
    .header__wrapper
      .header__hamburger
        button.hamburger.hamburger--spin(type='button')
          span.hamburger-box
            span.hamburger-inner


      a(href='#').header__logo
        .icoWrap
          i.ico.ico-logo

      ul.header__navi
        li
          a(href='#') PRODUCTS
        li
          a(href='#') APPAREL
        li
          a(href='#') TESTIMONIALS
        li
          a(href='#') NEWS
        li
          a(href='#') CONTACT

      a(href="#").header__cart
        .header__cart__name Cart
        .header__cart__line
        .header__cart__counter 2

// MOBILE NAV
.mobile-navi
  ul
    li
      a(href='#') PRODUCTS
    li
      a(href='#') APPAREL
    li
      a(href='#') TESTIMONIALS
    li
      a(href='#') NEWS
    li
      a(href='#') CONTACT
