doctype html
html
  include shared/head.pug

  body
    .site
      include shared/header.pug
      .site__content
        // HERO :: START
        .hero
          .container
            .hero__lineText
              span LOREM IPSUM DOLOR SIT AMET
            .hero__wrapper
              .hero__title PROFESSIONAL <br> PRODUCTS
              .hero__desc PROFESSIONAL <br> RESULTS

        // FIRST SPACER :: START
        .spacer.spacer--green
          .container
            .spacer__wrapper
              .spacer__lettering VS
              .spacer__description.spacer__description--right
                .spacer__description__title VASO-SERIES <br> TOPICAL <br> SKIN GELS
                .spacer__description__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                a(href="#").btn.btn--primary.btn--black VIEW SERIES
              .spacer__image
                img(src="images/Vasoseries.png")

        // SECOND SPACER :: START
        .spacer.spacer--white
          .container
            .spacer__wrapper
              .spacer__image
                img(src="images/NEWPG.png")
              .spacer__lettering PS
              .spacer__description
                .spacer__description__title <span>NEW</span> <br> PERI-SERIES <br> SUPPLEMENTS
                .spacer__description__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                a(href="#").btn.btn--primary.btn--blue VIEW PRODUCT

        // MID SPACER :: START
        .speacer.spacer--absolute
          .container
            .spacer__lineText
              span LOREM IPSUM DOLOR SIT AMET
            .spacer__wrapper
              .spacer__image
                img(src="images/athlete@2x.png")
              .spacer__ctaText LAB TESTED <br> FORMULATIONS_

        // TRIRD SPACER :: START
        .spacer.spacer--gray
          .container
            .spacer__wrapper
              .spacer__image
                img(src="images/NEWPH-CORTSOLVE@2x.png")
              .spacer__lettering CS
              .spacer__description
                .spacer__description__title CORTISOLVE <br> CORTISOL <br> REGULATOR
                .spacer__description__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                a(href="#").btn.btn--primary.btn--green VIEW PRODUCT

        // SOCIALS :: START
        .socials
          .container
            .socials__wrapper
              .socials__intro
                .socials__intro__icons
                  a(href='#')
                    i.ico.ico-youtube
                  a(href='#')
                    i.ico.ico-insta
                  a(href='#')
                    i.ico.ico-fb

                .socials__intro__title SOCIALIZE WITH US
                .socials__intro__text <span>#MPASUPPS</span> <br> SOCIAL & <br> TRENDS_
              .socials__pics
                .socials__pics__wrapper
                  a(href="#")
                    img(src="images/social-pic-1@2x.png")
                  a(href="#")
                    img(src="images/social-pic-2@2x.png")
                  a(href="#")
                    img(src="images/social-pic-3@2x.png")

        // TESTIMONIALS :: START
        .testimonials
          .container
            .testimonials__wrapper
              .testimonials__left
                .testimonials__title <span>WHAT PEOPLE</span><br> SAY ABOUT<br> MPA SUPPS
                .owl-nav
                  .owl-prev#owlTestimonialsPrev
                  .owl-next#owlTestimonialsNext
              .testimonials__right
                .owl-carousel#owlTestimonials
                  .testimonials__slide
                    img(src='images/testimonials-img@2x.png')
                    .testimonials__slide__content
                      .testimonials__slide__rating
                        i.ico.ico-star
                        i.ico.ico-star
                        i.ico.ico-star
                        i.ico.ico-star
                        i.ico.ico-star

                      .testimonials__slide__title LOVE THESE PRODUCTS
                      .testimonials__slide__review Amazing priduct ive bought both vaso burn and vaso dry both very good. Very satisfied with results and am still currently using du...
                      .testimonials__slide__author Linda P.
                      a(href='#').btn.btn--green.btn--primary Read +
                  //slide
                  .testimonials__slide
                    img(src='images/testimonials-img@2x.png')
                    .testimonials__slide__content
                      .testimonials__slide__rating
                        i.ico.ico-star
                        i.ico.ico-star
                        i.ico.ico-star
                        i.ico.ico-star
                        i.ico.ico-star

                      .testimonials__slide__title LOVE THESE PRODUCTS
                      .testimonials__slide__review Amazing priduct ive bought both vaso burn and vaso dry both very good. Very satisfied with results and am still currently using du...
                      .testimonials__slide__author Linda P.
                      a(href='#').btn.btn--green.btn--primary Read +
                  //slide
                  .testimonials__slide
                    img(src='images/testimonials-img@2x.png')
                    .testimonials__slide__content
                      .testimonials__slide__rating
                        i.ico.ico-star
                        i.ico.ico-star
                        i.ico.ico-star
                        i.ico.ico-star
                        i.ico.ico-star

                      .testimonials__slide__title LOVE THESE PRODUCTS
                      .testimonials__slide__review Amazing priduct ive bought both vaso burn and vaso dry both very good. Very satisfied with results and am still currently using du...
                      .testimonials__slide__author Linda P.
                      a(href='#').btn.btn--green.btn--primary Read +

      include shared/footer.pug
